{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Add Poem Form</title>
  <link rel="stylesheet" href="{% static 'home/css/add-poem.css' %}">
</head>
<body>
  {% include 'home/header.html' %}
  <div class="container">
    <h2>Add Poem Form</h2>
    <form method="post" action="{% url 'add_post' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="title">Poem's Title:</label>
        {{form.title}}
      </div>
      <div class="form-group">
        <label for="poem">Your Poem:</label>
        {{form.content}}
      </div>
      <div class="hiddenCB">
        <h3>Tags:</h3>
        <hr>
        <div>
          {% for tag in form.tags %}
            <input type="checkbox" name="tags" id="{{ tag.id_for_label }}" value="{{ tag.data.value }}" {% if tag.is_checked %}checked{% endif %} />
            <label for="{{ tag.id_for_label }}">{{ tag.choice_label | lower }}</label>
          {% endfor %}
        </div>
      </div>
      
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
  {% include 'home/background_animation.html' %}
</body>
</html>
