{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Add Poem Form</title>
  <link rel="stylesheet" href="{% static 'home/css/add-poem.css' %}">
</head>
<body>
  {% include 'home/header.html' %}
  <div class="container">
    <h2>Ad Poem Form</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Your Name</label>
        {{form.title}}
      </div>
      <div class="form-group">
        <label for="poem">Your Poem</label>
        {{form.content}}
      </div>
      <div class="form-group">
        <label for="email">Your Email</label>
        {{form.tags}}
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
  {% include 'home/background_animation.html' %}
</body>
</html>
