{% load static %}
<link rel="stylesheet" href="{% static 'home/css/header.css' %}">
<header class="header">
  <a href="{% url 'home' %}"><img src="{% static 'home/img/logo-white.png' %}" alt="Logo" class="logo"></a>
  <ul class="main-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="#">Poets & Poems</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Blog</a></li>
      {% if user.is_authenticated %}
      <div class="reg-log">
        <li><a href="{% url 'register' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li> 
      </div>
      {% else %}
      <li><a href="#">{{user.username}}</a></li>
      {% endif %}
  </ul>
</header> 
