{% load static %}
<link rel="stylesheet" href="{% static 'home/css/header.css' %}">
<header class="header">
  <a href="{% url 'home' %}"><img src="{% static 'home/img/logo-white.png' %}" alt="Logo" class="logo"></a>
  <ul class="main-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="#">Poets</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Blog</a></li>
      <div class="reg-log">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li> 
      </div>
  </ul>
</header> 
