{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'home/css/login-register.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/login-register-animation.css' %}">
    <link rel="shortcut icon" href="{% static 'home/img/favicon.png' %}" type="image/x-icon">
</head>
<!-- Main css -->
<div class="scroll-bg"></div>

<div class="main">

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{% static 'home/img/signin-image.jpg' %}" alt="sing up image"></figure>
                <a href="{% url 'register' %}" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        {{form.username}}
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        {{form.password}}
                    </div>
                    <!-- <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div> -->
                    {% if form.non_field_errors %}
                    <ul class='error-list'>
                        {% for error in form.non_field_errors %}
                            <li class="error-item">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>

</div>
