{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>PoetFlow - Your Creation</title>
  <link rel="stylesheet" href="{% static 'home/css/welcome.css' %}">
{% endblock head %}
{% block content %}
  <div class="container">
    <h1>
      <span>Welcome to</span>
      <div class="message">
        <div class="word1">poetry</div>
        <div class="word2">space</div>
        <div class="word3">creating</div>
      </div>
    </h1>
    <p>Discover and save creative ideas from around the web.</p>
    <a href="{% url 'home' %}" class="btn">Get Inspired</a>
  </div>
{% include 'home/background_animation.html' %}
{% endblock content %}