{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>{{poem.title}} - {{poem.author}} | PoetFlow</title>
  <link rel="stylesheet" href="{% static 'home/css/detail-poem.css' %}">
  <link rel="stylesheet" href="{% static 'explore/css/navigation-top.css' %}">
{% endblock head %}
{% block content %}
  <div class="navigation">
    <a href="{% url 'home' %}">Home</a>
    <i class="arrow right"></i>
    <a href="{% url 'explore' %}">Poets</a> 
    <i class="arrow right"></i>
      <a href="{% url 'poet-detail' poem.author.slug %}">{{poem.author.name}}{{poem.author.username}}</a>
    <i class="arrow right"></i>
    <span class="current-page">{{poem.title}}</span>
</div>
  <div class="poem-container">
    <h2 class="poem-title">{{ poem.title }}</h2>
    <div class="by">
        <p>by <a href="{% url 'profile'  poem.author.slug %}">{{ poem.author }}</a></p>
    </div>
    <hr class="breakline-poem">
    <div class="poem-content">
      <pre>{{ poem.content }}</pre>
    </div>
  </div>
  {% include 'home/background_animation.html' %}
{% endblock content %}
