@keyframes scrollBg {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-330px);
    }
  }
  
  .scroll-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    padding-bottom: 330px;
    background-color: #E8BA9B;
    background-image: url('https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    animation: scrollBg 35s linear forwards;
  }