* {
	box-sizing: border-box;
}
body {
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #e9e9e9;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0 2%;
	width: 8%;
}

.main-nav {
	margin-top: 5px;
	margin: 0 2%;
}
.logo a,
.main-nav a {
	padding: 10px 25px;
	display: block;
}

.main-nav a {
	color: #f3f3f3;
	font-size: 1.15em;
}

.main-nav a:hover {
	color: #ffffff;
}

.header {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #000000;
	background: #101010;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.reg-log {
    display: flex;
}

.reg-log li {
    margin-left: 20px;
}

.reg-log a {
    padding: 5px 15px;
	margin: 5px;
    display: inline-block;
    border: 2px solid #ffffff; /* Add border around the links */
	border-radius: 10%;
	font-weight: 500;
    background-color: #f3f3f3; /* Change background color to black */
    color: #000000; /* Change text color to white */
	white-space: nowrap;
}

.reg-log a:hover {
    background-color: #ffffff; /* Change background color to white on hover */
    color: #000000; /* Change text color to black on hover */
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
