body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1 {
    margin: 0;
    font-size: 48px;
    letter-spacing: 2px;
    color: #fff;
  }
  
  main {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .poem {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .poem:hover {
    transform: scale(1.02);
  }
  
  .poem a {
    margin: 0;
    font-size: 24px;
    color: #333;
    text-decoration: none;
  }
  
  .poem pre a {
    margin: 20px 0 0;
    font-size: 18px;
    color: #555;
  }
  
  .poem p a {
    float: right;
    margin: 30px 20px 0 ;
    font-size: 1em;
    color: #555;
  }
  