{% extends 'explore/base_detail.html' %}
{% load static %}
{% block card_content %}
<div class="card-content">
    <div>
        <img src="{{ poet.avatar.url }}" class="personal-avatar move-right" alt="avatar" id="avatarPreview">
    </div>
    <div class="card-details">
        <h1 class="card-title">{{ poet.username }}</h1>
        {% if request.user == poet %}
        <a href="{% url 'settings' %}" class="edit-profile-button">Edit Profile</a>
        {% endif %}
    </div>
    <p class="card-dates">
        {% if poet.show_email %}
        Email: <span class="birth-date">{{ poet.email }}</span>
        {% endif %} |
        {% if poet.phone and poet.show_phone_number %}Phone: <span class="death-date">{{ poet.phone }}</span>{% endif %}
    </p>
    <hr class="breakline">
    <p class="card-bio">{{ poet.description }}</p>
    <br>
    <h2>Poems:</h2>
    <hr class="breakline">
    <div class="poems">
        {% for poem in poet.poems.all %}
        <div class="poem-container">
            <p class="poem-name">
                <a href="{% url 'view_detail' poem.author.slug poem.slug %}">{{ poem.title }}</a>
                {% if request.user == poet %}
                <a href="{% url 'edit_poem' request.user.slug poem.slug %}" class="edit-button">...</a>
                {% endif %}
            </p>
            <hr class="breakline-poem">
            <div class="poem-content">
                <pre><a href="{% url 'view_detail' poem.author.slug poem.slug %}">{{poem.content | truncatewords_html:40}}</a></pre>
            </div>
        </div>
        {% endfor %}
        {% if not poet.poems.all %}
        <div class="empty">
            <img src="{% static 'home/img/empty.png' %}" alt="empty profile" class="empty">
            <p>It seems here's no poems yet...</p>
        {% endif %}
    </div>
    </div>
</div>
{% endblock card_content %}
