{% extends 'home/base.html' %}
{% load static %}
{% block head %}
  <title>Settings | PoetFlow</title>
  <link rel="stylesheet" href="{% static 'users/css/settings.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/crop_image.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>
  <script src="{% static 'users/js/avatar_preview.js' %}"></script>
  <script src="{% static 'users/js/avatar_crop.js' %}"></script>
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="content">
      <a href="{% url 'profile' request.user.slug %}" class="back-to-profile">Back to Profile</a>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="crop_x" id="cropX">
        <input type="hidden" name="crop_y" id="cropY">
        <input type="hidden" name="crop_width" id="cropWidth">
        <input type="hidden" name="crop_height" id="cropHeight">
        <div class="top">
          <h1>Edit Profile</h1>
          <div class="personal-image">
            <label class="label">
              <input type="file" name="avatar" accept="image/*" id="id_avatar">
              <figure class="personal-figure">
                <img src="{{user.avatar.url}}" class="personal-avatar" alt="avatar" id="avatarPreview">
                <figcaption class="personal-figcaption">
                  <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                </figcaption>
              </figure>
            </label>
          </div>
        </div>
        {% include 'users/crop_image.html' %}
        <div class="data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="username" value="{{user.username}}" maxlength="30" id="id_username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" {% if user.email %} value="{{user.email}}" {% endif  %} id="id_email">
        </div>
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" name="phone" {% if user.phone %} value="{{user.phone}}" {% endif  %} maxlength="30"  id="id_phone">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="{{ form.description.name }}" id="{{ form.description.id_for_label }}" rows="10" cols="40">{{ form.description.value }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit">Save Changes</button>
        </div>
      </div>
      </form>
    </div>
    <div class="sidebar">
      <h2>Settings</h2>
      <ul>
      <div class="{% if selected == 'profile' %}selected{% endif %}">
          <li><a href="{% url 'settings' %}">Profile</a></li>
      </div>
      <div class="{% if selected == 'privacy' %}selected{% endif %}">
        <li><a href="{% url 'privacy' %}">Privacy</a></li>
      </div>
      </ul>
    </div>
  </div>
  <script>
  window.addEventListener('DOMContentLoaded', (event) => {
    initCropper();
  });
  </script>
{% endblock content %}