* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 15vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

.content {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Add this to your existing styles */
#cropperContainer {
  display: none;
}

h1 {
  margin: 15px 0 10px 0;
}

.back-to-profile {
  color: #000;
}

.form-group {
  margin-bottom: 20px;
}

.form-group h3 {
  margin: 20px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #4c4c4c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sidebar {
  flex: 1;
  max-width: 250px;
  margin-left: 20px;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #fff;
  background-color: #5d5d5d;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  color: #2f2f2f;
}

.data input[type="text"],
.data textarea {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  transition: border-color 0.3s, background-color 0.3s;
}

.data input[type="text"]:focus,
.data textarea:focus {
  outline: none;
  border-color: #777;
  background-color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9d9d9d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #131313;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.selected {
  font-weight: bold;
}
