/* CSS styles for the poem template */
html,
body {
  scroll-behavior: smooth;
}

.navigation a {
  background-color: #cecece;
}
/* Set the font family and size for the poem title */
.poem-title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333; /* Change the color to your preference */
  margin-top: 20px;
  margin-bottom: 10px;
}


.by p a {
  text-decoration: solid #333 underline 1px;
  color: #333;
  font-size: 20px;
}

.breakline-poem {
  border: 0;
  height: 1px;
  margin: 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.08));
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* Set the font family and size for the poem content */
.poem-content pre {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.5;
  color: #666; /* Change the color to your preference */
}

/* Add some padding and margin to the poem container */
.poem-container {
  padding: 20px;
  margin: 10px;
  background-color: #fafafa;
  border-radius: 10px;
  max-width: 600px; /* Set the desired maximum width */
  margin-left: auto;
  margin-right: auto;
}

/* Center the poem container */
.poem-container {
  text-align: center;
}

/* Add some margin to the top and bottom of the poem container */
.poem-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Add a border to the poem container */
.poem-container {
  border: 1px solid #ccc; /* Change the color to your preference */
}

#backToTopBtn {
  position: fixed;
  text-decoration: none;
  padding: 15px;
  right: 2%;
  bottom: 4.5%;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.12s ease-in-out;
}

#backToTopBtn.show {
  opacity: 1;
}