{% extends 'home/base.html' %}
{% load static %}
{% block head %}
    <title>{{poet.name}}{{poet.username}} | PoetFlow</title>
    <link rel="stylesheet" href="{% static 'explore/css/poet_detail.css' %}">
    <link rel="stylesheet" href="{% static 'explore/css/navigation-top.css' %}">
{% endblock head %}
{% block content %}
    {% block navigation %}
    <div class="navigation">
        <a href="{% url 'home' %}">Home</a>
        <i class="arrow right"></i>
        <a href="{% url 'explore' %}">Poets</a>
        <i class="arrow right"></i>
        <span class="current-page">{{poet.name}}{{poet.username}}</span>
    </div>
    {% endblock navigation %}
    <div class="container">
        <div class="card">
            {% block card_content %}

            {% endblock card_content %}
        </div>
    </div>
{% endblock content %}