{% extends 'explore/explore.html' %}

{% block poets %}
{% for poet in poets %}
<div class="responsive-cell-block card-container">
  <div class="card">
    <div class="poet-image-wrapper">
      <img class="poet-image" src="{{ poet.photo.url }}">
    </div>
    <p class="text-blk name">
      <a href="{% url 'poet-detail' poet.slug %}">{{poet.name}}</a>
    </p>
    <p class="text-blk date">
      <a href="{% url 'poet-detail' poet.slug %}">{{poet.birth_date | date:"d.m.Y" }} - {{poet.death_date | date:"d.m.Y" }}
      </a>
    </p>
    <p class="text-blk biography">
      <a href="{% url 'poet-detail' poet.slug %}">{{poet.biography | truncatewords:20}}</a>
    </p>
  </div>
</div>
{% endfor %}
{% endblock %}