{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'explore/css/explore.css' %}">
</header>
<body>
{% include 'home/header.html' %}
<div class="responsive-container-block container">
    <p class="text-blk team-head-text">
      Our Team
    </p>

    <div class="responsive-container-block">
      {% for poet in poets %}
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
          <div class="card">
            <div class="team-image-wrapper">
              <img class="team-member-image" src="{{ poet.photo.url }}">
            </div>
            <p class="text-blk name">
              <a href="{% url 'poet-detail' poet.slug %}">{{poet.name}}</a>
            </p>
            <p class="text-blk position">
              {{poet.birth_date}}
            </p>
            <p class="text-blk feature-text">
              {{poet.biography | truncatewords:20}}
            </p>
          </div>
        </div>
        {% endfor %}
    </div>

</div>
</body>