{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'explore/css/explore.css' %}">
</header>
<body>
{% include 'home/header.html' %}
<div class="responsive-container-block container">
    <p class="text-blk team-head-text">
      Our Team
    </p>

    <div class="responsive-container-block">
      {% for poet in poets %}
        <div class="responsive-cell-block card-container">
          <div class="card">
            <div class="poet-image-wrapper">
              <img class="poet-image" src="{{ poet.photo.url }}">
            </div>
            <p class="text-blk name">
              <a href="{% url 'poet-detail' poet.slug %}">{{poet.name}}</a>
            </p>
            <p class="text-blk date">
              <a href="{% url 'poet-detail' poet.slug %}">{{poet.birth_date}}</a>
            </p>
            <p class="text-blk biography">
              <a href="{% url 'poet-detail' poet.slug %}">{{poet.biography | truncatewords:20}}</a>
            </p>
          </div>
        </div>
        {% endfor %}
    </div>

</div>
</body>