{% extends 'explore/base_detail.html' %}
{% load static %}

{% block card_content %}
<div class="card-content">
    <div class="card-image">
        <img src="{{ poet.photo.url }}" alt="Poet Photo">
    </div>
    <h1 class="card-title">{{ poet.name }}</h1>
    <p class="card-dates">Birth Date: <span class="birth-date">{{ poet.birth_date }}</span> | Death Date: <span class="death-date">{{ poet.death_date }}</span></p>
    <hr class="breakline">
    <p class="card-bio">{{ poet.biography }}</p>
    <br>
    <h2>Poems:</h2>
    <hr class="breakline">
    <div class="poems">
        {% for poem in poet.poems.all %}
        <div class="poem-container">
            <p class="poem-name"><a href="{% url 'view_detail' poem.author.slug poem.slug %}">{{poem.title}}</p></a>
            <hr class="breakline-poem">
            <div class="poem-content">
                <pre><a href="{% url 'view_detail' poem.author.slug poem.slug %}">{{poem.content | truncatewords_html:40}}</pre></a>
            </div>
        </div>
        {% endfor %}
        {% if not poet.poems.all %}
        <div class="empty">
            <img src="{% static 'home/img/empty.png' %}" alt="empty profile" class="empty">
            <p>It seems here's no poems yet...</p>
        {% endif %}
    </div>
</div>
{% endblock card_content %}