{% extends 'home/base.html' %}
{% load static %}
{% block head %}
    <title>PoetFlow</title>
    <link rel="stylesheet" href="{% static 'explore/css/explore.css' %}">
{% endblock head %}
{% block content %}
<div class="responsive-container-block container">
  <div class="text-blk poet-head-text">
    <div class="{% if selected_poets == 'classic' %}selected{% endif %}">
      <a href="{% url 'explore' %}">Classic Poets</a>
  </div>
  <div class="{% if selected_poets == 'user' %}selected{% endif %}">
      <a href="{% url 'user_poets' %}">User Poets</a>
  </div>
  </div>
    <div class="responsive-container-block">
      {% block poets %}
      {% endblock %}
    </div>
</div>
{% endblock content %}